@inherits LayoutComponentBase

<Layout>
    <Sider Style="overflow: auto;height: 100vh;position: fixed;left: 0;">
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[] { "4" })>
            <MenuItem Key="1">
                <Icon Type="@IconType.Outline.User" />
                <span class="nav-text">nav 1</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="@IconType.Outline.VideoCamera" />
                <span class="nav-text">nav 2</span>
            </MenuItem>
            <MenuItem Key="3">
                <Icon Type="@IconType.Outline.Upload" />
                <span class="nav-text">nav 3</span>
            </MenuItem>
            <MenuItem Key="4">
                <Icon Type="@IconType.Outline.BarChart" />
                <span class="nav-text">nav 4</span>
            </MenuItem>
            <MenuItem Key="5">
                <Icon Type="@IconType.Outline.Cloud" />
                <span class="nav-text">nav 5</span>
            </MenuItem>
            <MenuItem Key="6">
                <Icon Type="@IconType.Outline.Appstore" />
                <span class="nav-text">nav 6</span>
            </MenuItem>
            <MenuItem Key="7">
                <Icon Type="@IconType.Outline.Team" />
                <span class="nav-text">nav 7</span>
            </MenuItem>
            <MenuItem Key="8">
                <Icon Type="@IconType.Outline.Shop" />
                <span class="nav-text">nav 8</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout" Style=" margin-left: 200px">
        <Content>
            <div class="site-layout-background" style="padding: 24px 24px 0px 24px ;">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


<style>
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>